global 
    log stdout format raw local0
    stats socket ipv4@:9999 level admin 
    user haproxy
    group haproxy

defaults 
    mode http
    log global
    retries 2
    timeout connect 3600ms
    timeout server 60m
    timeout client 60m

frontend front 
    bind :5433 
    mode tcp
    use_backend back 

backend back 
    mode tcp
    balance roundrobin 
    default-server port 5432 inter 2s downinter 5s rise 3 fall 2 slowstart 60s maxconn 2048 maxqueue 128 weight 100
    server master postgres_db_master:5432 check on-marked-down shutdown-sessions
    server slave-1 postgres_db_slave_1:5432 check backup on-marked-down shutdown-sessions
    server slave-2 postgres_db_slave_2:5432 check backup on-marked-down shutdown-sessions
